@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

.container{
    position: relative;
    width: 90%;
    margin: 0px auto;
  text-align: center;
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.767);
  .hero_header{
      font-family: 'Libre Caslon Display', serif;
      letter-spacing: 0.2rem;
      text-transform: uppercase;;

    span{
      font-size: 6rem;
    }
  }
}
.img{
    max-width: 90%;
    padding: 0px;
    margin: 10px 0px;
    height: auto;
    transform: rotateZ(98deg);
}

@media (max-width: 800px){
  .overlay{
    font-size:1.7rem;
    color: red;
  }

}

@media (max-width:600px){
  .overlay{
    font-size: 0.8;
  }
}