.layout{
 background :#fff;
 width: 90%;
 margin: 5px auto;
border-radius: 5px;
}

p{
    width: 80%;
    margin: 10px auto;
    
}
h1,h2,h3{
    text-align: center;
}
footer{
    background:beige;
}

@media (max-width:670px){
    .layout{
        
    }
    h1,h2,h3{
        text-align: start;
        margin: 1rem;
    }
}