.drawer{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    max-width: 400px;
    width: 65%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    z-index: 2;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.7);
    transform: translateX(-105%);
    transition: transform 0.3s ease-in;
}

.drawer.open{
    transform: translateX(0%);
}

@media (min-width: 750px){
    .drawer{
        display: none;
    }
}